<div class="container">


<app-add-listcombo

(addMainItem)="items.push($event)"></app-add-listcombo>

  <div class="row mt-3">
    <div class="col-sm-2">
      <select class="form-select"
        [(ngModel)]="selectFilter"
        (ngModelChange)="filterChange($event)" >

        <option value="0">All</option>
        <option value="1">filter</option>
        <option value="2">unfilter</option>

      </select>
    </div>
    <app-wish-list 
    [items]="visibleItems"></app-wish-list>
  </div>

  


</div>